.wish-image img,
.goal-image img,
.post-image img {
  height: auto;
  width: 100%;
}

#wishes,
#goals,
#posts {
  margin-left: 1em;
}

#wishes .wish.col-12,
#wishes .goal.col-12,
#wishes .post.col-12,
#goals .wish.col-12,
#goals .goal.col-12,
#goals .post.col-12,
#posts .wish.col-12,
#posts .goal.col-12,
#posts .post.col-12 {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 2em;
}

#wishgoal-nav {
  margin-left: 1em;
  margin-bottom: 1em;
}

.wishy-post-info .profile-post-thumbnail {
  width: 40px;
  height: 40px;
  margin-right: 0.5em;
}

.wishy-post-info .profile-post-thumbnail .profile-thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.wishy-post-info .wishy-post-text h4 {
  font-size: 1.2em;
}

.wishy-post-info .wishy-post-text p {
  font-size: 0.9em;
  margin-bottom: 0;
}

.wishy-post-nav {
  background-color: #26273b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0.5em;
}

.wishy-post-nav a {
  color: #F9B800;
  font-size: 0.8em;
}

.wishy-wish-info,
.wishy-goal-info,
.wishy-post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1em;
  border-bottom: 1px solid lightgrey;
}

.wishy-wish-info .wishy-user-info,
.wishy-goal-info .wishy-user-info,
.wishy-post-info .wishy-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 0.5em;
}

.wishy-wish-info .wishy-user-info .profile-wish-thumbnail,
.wishy-wish-info .wishy-user-info .profile-goal-thumbnail,
.wishy-goal-info .wishy-user-info .profile-wish-thumbnail,
.wishy-goal-info .wishy-user-info .profile-goal-thumbnail,
.wishy-post-info .wishy-user-info .profile-wish-thumbnail,
.wishy-post-info .wishy-user-info .profile-goal-thumbnail {
  width: 50px;
  height: 50px;
  margin-right: 1em;
}

.wishy-wish-info .wishy-user-info .profile-wish-thumbnail .profile-thumbnail,
.wishy-wish-info .wishy-user-info .profile-goal-thumbnail .profile-thumbnail,
.wishy-goal-info .wishy-user-info .profile-wish-thumbnail .profile-thumbnail,
.wishy-goal-info .wishy-user-info .profile-goal-thumbnail .profile-thumbnail,
.wishy-post-info .wishy-user-info .profile-wish-thumbnail .profile-thumbnail,
.wishy-post-info .wishy-user-info .profile-goal-thumbnail .profile-thumbnail {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.wishy-wish-info .wishy-user-info .wishy-user-text h5,
.wishy-goal-info .wishy-user-info .wishy-user-text h5,
.wishy-post-info .wishy-user-info .wishy-user-text h5 {
  font-size: 1.1em;
}

.wishy-wish-info .wishy-user-info .wishy-user-text h5,
.wishy-wish-info .wishy-user-info .wishy-user-text p,
.wishy-goal-info .wishy-user-info .wishy-user-text h5,
.wishy-goal-info .wishy-user-info .wishy-user-text p,
.wishy-post-info .wishy-user-info .wishy-user-text h5,
.wishy-post-info .wishy-user-info .wishy-user-text p {
  margin-bottom: 0;
}

.wishy-wish-info .wishy-user-info .wishy-user-text p,
.wishy-wish-info .wishy-user-info .wish-category p,
.wishy-wish-info .wishy-user-info .goal-category p,
.wishy-goal-info .wishy-user-info .wishy-user-text p,
.wishy-goal-info .wishy-user-info .wish-category p,
.wishy-goal-info .wishy-user-info .goal-category p,
.wishy-post-info .wishy-user-info .wishy-user-text p,
.wishy-post-info .wishy-user-info .wish-category p,
.wishy-post-info .wishy-user-info .goal-category p {
  font-weight: 100;
  font-size: 0.8em;
}

.wishy-wish-info .wishy-user-info .wish-category,
.wishy-wish-info .wishy-user-info .goal-category,
.wishy-goal-info .wishy-user-info .wish-category,
.wishy-goal-info .wishy-user-info .goal-category,
.wishy-post-info .wishy-user-info .wish-category,
.wishy-post-info .wishy-user-info .goal-category {
  margin-left: auto;
}

.wishy-wish-info .wishy-user-info .wish-category p,
.wishy-wish-info .wishy-user-info .goal-category p,
.wishy-goal-info .wishy-user-info .wish-category p,
.wishy-goal-info .wishy-user-info .goal-category p,
.wishy-post-info .wishy-user-info .wish-category p,
.wishy-post-info .wishy-user-info .goal-category p {
  margin-top: -2em;
  margin-bottom: 0;
}

.wishy-wish-info .wishy-wish-text h4,
.wishy-wish-info .wishy-goal-text h4,
.wishy-goal-info .wishy-wish-text h4,
.wishy-goal-info .wishy-goal-text h4,
.wishy-post-info .wishy-wish-text h4,
.wishy-post-info .wishy-goal-text h4 {
  font-size: 1.5em;
}

.wishy-wish-info .wishy-wish-text p,
.wishy-wish-info .wishy-goal-text p,
.wishy-goal-info .wishy-wish-text p,
.wishy-goal-info .wishy-goal-text p,
.wishy-post-info .wishy-wish-text p,
.wishy-post-info .wishy-goal-text p {
  margin-bottom: 0;
}

.wishy-wish-nav,
.wishy-goal-nav {
  background-color: #26273b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1em;
}

.wishy-wish-nav a,
.wishy-goal-nav a {
  color: #F9B800;
}

.wishgoal-nav {
  background-color: #26273b;
}

.wishgoal-nav div:last-child {
  border-left: 1px solid lightgrey;
}

.wishgoal-nav a {
  color: #F9B800;
  outline: none;
}

.wishgoal-nav .wish-plus,
.wishgoal-nav .goal-plus {
  position: relative;
  color: #F9B800;
  cursor: pointer;
}

.wishgoal-nav .wish-plus:hover,
.wishgoal-nav .goal-plus:hover {
  color: #ba8800;
  border-color: #ba8800;
}

.wishgoal-nav .wish-plus {
  left: 60px;
}

.wishgoal-nav .goal-plus {
  left: -110px;
}

.modal label {
  color: white;
}

.modal input {
  background-color: #26273b !important;
  border: none;
  border-width: 0;
  border-bottom: 1px solid grey;
  border-radius: 0;
}

.modal input::-webkit-input-placeholder {
  color: grey;
}

.modal input:-ms-input-placeholder {
  color: grey;
}

.modal input::-ms-input-placeholder {
  color: grey;
}

.modal input::placeholder {
  color: grey;
}

.modal input:focus {
  border-bottom: 2px solid #F9B800;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
}

.modal .modal-header,
.modal .modal-footer {
  border-color: #F9B800;
}

body {
  font-family: "Montserrat", sans-serif;
}

label {
  color: #777777;
  text-align: right;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.wishy-btn {
  color: #fff;
  background-color: #F9B800;
  border-color: #F9B800;
  cursor: pointer;
}

.wishy-btn:hover {
  background-color: #ba8800;
  border-color: #ba8800;
}

.wishy-btn.edit {
  border-radius: 50%;
  -webkit-box-shadow: 0 0px 8px #F9B800 !important;
          box-shadow: 0 0px 8px #F9B800 !important;
  position: absolute;
  top: -43px;
  right: 20px;
  color: white;
}

.wishy-btn.edit:hover {
  -webkit-box-shadow: 0 0px 8px #ba8800 !important;
          box-shadow: 0 0px 8px #ba8800 !important;
  color: white;
}

.wishy-btn.menu {
  border-radius: 50%;
  -webkit-box-shadow: 0 0px 8px #F9B800 !important;
          box-shadow: 0 0px 8px #F9B800 !important;
  position: relative;
  top: -35px;
  left: 20px;
}

.wishy-btn.menu:hover {
  -webkit-box-shadow: 0 0px 8px #ba8800 !important;
          box-shadow: 0 0px 8px #ba8800 !important;
}

.wishy-link {
  font-weight: 400;
  color: #F9B800;
  background-color: transparent;
}

.wishy-link:hover {
  text-decoration: underline;
  color: #ba8800;
}

.wishy-ml {
  margin-left: 4.5rem;
}

.wishy-mr {
  margin-right: 4.5rem;
}

.hidden {
  display: none;
}

.wishy-shadow-box-blue {
  -webkit-box-shadow: 0 0 5px #26273b;
          box-shadow: 0 0 5px #26273b;
}

.wishy-rounded {
  border-radius: 7px;
}

.wishy-rounded-top {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.wishy-rounded-left {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.wishy-rounded-bottom {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.bg-navy {
  background-color: #26273b;
}

.btn-gold {
  background-color: #F9B800;
  color: white;
  cursor: pointer;
}

.btn-gold:hover {
  background-color: #ba8800;
}

.wishy-bold {
  font-weight: 600;
}

.wishy-line-heigth {
  line-height: 1em;
}

.online {
  color: green;
}

.offline {
  color: red;
}

.content {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-bottom: 300px;
}

.wishy-background-image {
  width: 100vw;
  height: auto;
  -webkit-animation: scroll-bg 70s infinite;
          animation: scroll-bg 70s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  padding-bottom: 300px;
  position: fixed;
}

.wishy-welcome-bg {
  background-color: #26273b;
  height: 350px;
  width: 90%;
  left: 5%;
  position: relative;
  -webkit-box-shadow: 0 0 10px #888888;
          box-shadow: 0 0 10px #888888;
}

.wishy-welcome-fg {
  background-color: white;
  height: 450px;
  width: 70%;
  left: 15%;
  top: -15%;
  position: relative;
  -webkit-box-shadow: 0 0 10px #888888;
          box-shadow: 0 0 10px #888888;
}

.wishy-welcome-fg h1 {
  color: #F9B800;
  font-size: 3rem;
}

.wishy-welcome-fg h2 {
  color: #26273b;
  font-size: 1.2rem;
  font-weight: 300;
}

.wishy-welcome-fg h3 {
  color: #26273b;
  font-size: 1.5rem;
}

.wishy-welcome-fg a.btn {
  width: 30%;
  margin: 0 auto;
}

.wishy-welcome-fg .arrow-down {
  color: #F9B800;
  margin: 0 auto;
  font-size: 1.8rem;
}

.wishy-welcome-fg .arrow-down:hover {
  color: #ba8800;
  font-size: 2rem;
}

.fa-unlock-alt {
  margin-right: 4px;
}

.wishy-body-welcome,
.wishy-body-user {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.wishy-switcher {
  height: 350px;
  font-family: "Montserrat", sans-serif;
  background-color: #26273b;
  color: #B5B5B7;
  -webkit-box-shadow: 0px 0px 10px #888888;
          box-shadow: 0px 0px 10px #888888;
}

.wishy-login {
  height: 450px;
  background-color: grey;
  -webkit-box-shadow: 0px 0px 10px #888888;
          box-shadow: 0px 0px 10px #888888;
  position: absolute;
  top: -50px;
  left: 438px;
  font-family: "Montserrat", sans-serif;
}

.wishy-login i {
  position: absolute;
  top: 30px;
  right: 26px;
  z-index: 10;
}

.wishy-flipper-container {
  position: relative;
}

.wishy-login input,
.wishy-navbar input,
.wishy-friends-search input {
  border-width: 0px;
  border-bottom: 1px solid black;
  border-radius: 0px;
}

.wishy-login input:focus,
.wishy-navbar input:focus,
.wishy-friends-search input:focus {
  border-width: 0px;
  border-bottom: 1px solid #F9B800;
  outline: none;
  -webkit-box-shadow: 0 1px 0px #F9B800;
          box-shadow: 0 1px 0px #F9B800;
}

.wishy-form-headline {
  color: #F9B800;
  font-weight: bolder;
}

@-webkit-keyframes scroll-bg {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes scroll-bg {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  50% {
    -webkit-transform: translateY(-300px);
    transform: translateY(-300px);
  }

  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.wishy-container-position {
  position: relative;
  top: 25%;
}

#register .form-group {
  margin-bottom: 0;
}

#register .form-group:last-child {
  margin-top: 1rem;
}

.wishy-navbar {
  background-color: #26273b;
  font-family: "Montserrat", sans-serif;
}

.wishy-navbar input {
  border-width: 0;
  margin-top: 10px;
  padding-left: 30px;
  color: white;
}

.wishy-navbar input::-webkit-input-placeholder {
  color: white;
}

.wishy-navbar input:-ms-input-placeholder {
  color: white;
}

.wishy-navbar input::-ms-input-placeholder {
  color: white;
}

.wishy-navbar input::placeholder {
  color: white;
}

.wishy-navbar i {
  color: white;
}

.wishy-navbar .options i {
  font-size: 1em;
  text-align: center;
}

.wishy-navbar .options i:hover {
  color: #F9B800;
}

.wishy-navbar .options .row {
  margin-top: 10px;
  line-height: 0;
}

.wishy-navbar .options .row span {
  margin-top: 15px;
  line-height: 0;
  font-size: 0.75em;
}

.wishy-navbar .options .row a {
  color: white;
  text-decoration: none;
}

.wishy-navbar .options .row a:hover {
  color: #F9B800;
  text-decoration: underline;
}

.wishy-navbar .options .row li a {
  color: black;
  text-decoration: none;
}

.wishy-navbar .options .row li a:hover {
  color: black;
  text-decoration: underline;
}

.wishy-navbar .options p {
  margin-bottom: 0.5em;
}

.wishy-navbar h1 {
  font-size: 2em;
}

.wishy-navbar h1 a {
  text-decoration: none;
}

.wishy-logo img {
  width: 180px;
  height: 120px;
}

.wishy-navbar-search {
  border-right: 1px solid #a8a8a8;
  border-left: 1px solid #a8a8a8;
}

.wishy-navbar-search input {
  background-color: #26273b !important;
}

.wishy-navbar-search i {
  position: absolute;
  top: 18px;
  left: 22px;
}

.wishy-navbar-search .form-group {
  margin-bottom: 0.25em;
}

li.dropdown-item {
  line-height: 1rem;
}

.wishy-profile.col-3,
.wishy-profile.col-12 {
  padding-left: 0;
  padding-right: 0;
}

.wishy-profile .form-group i {
  position: absolute;
  top: 10px;
}

.wishy-profile input {
  padding-left: 20px;
  background-color: transparent !important;
}

.wishy-profile-info {
  position: relative;
}

.wishy-profile-bt {
  border-top: 1px solid lightgrey;
}

.wishy-profile-bb {
  border-bottom: 1px solid lightgrey;
}

.wishy-profile-bx {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

.wishy-friends-list img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #26273b;
}

.wishy-friends-list .list p {
  margin-top: 1rem;
}

.wishy-planner.col-9 {
  padding-right: 0;
}

