.content {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-bottom: 300px;
    overflow: hidden;
}

.wishy-background-image-try {
    width: 100vw;
    height: auto;
    animation: scroll-bg 70s infinite;
    animation-fill-mode: forwards;
    padding-bottom: 300px;
    position: absolute;
}

.wishy-body-cover {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0%;
    left: 0%;
}
.wishy-switcher {
    height: 350px;
    font-family: 'Raleway';
    background-color: rgb(38, 39, 59);
    color: #B5B5B7;
    box-shadow: 0px 0px 10px #888888;
}

.wishy-login {
    height: 450px;
    background-color: grey;
    box-shadow: 0px 0px 10px #888888;
    position: absolute;
    top: -50px;
    left: 438px;
    font-family: 'Raleway';
}

.wishy-flipper-container {
    position: relative;
}

.wishy-login input,
.wishy-navbar input {
    border-width: 0px;
    border-bottom: 1px solid black;
    border-radius: 0px;
}

.wishy-form-headline {
    color: #F9B800;
    font-weight: bolder;
}

.wishy-login input:focus,
.wishy-navbar input:focus {
    border-width: 0px;
    border-bottom: 1px solid #F9B800;
    outline: none !important;
    box-shadow: 0 1px 0px #F9B800 !important;
}

label {
    color: #777777;
    text-align: right;
}

.wishy-login i {
    position: absolute;
    top: 30px;
    right: 26px;
    z-index: 10;
}

.fa-unlock-alt {
    margin-right: 4px;
}

.wishy-btn {
    color: #fff;
    background-color: #F9B800;
    border-color: #F9B800;
}

.wishy-btn:hover {
    background-color: #ba8800;
    border-color: #ba8800;
}

.wishy-link {
    font-weight: 400;
    color: #F9B800;
    background-color: transparent;
}

.wishy-link:hover {
    text-decoration: underline;
    color: #ba8800;
}

.wishy-ml {
    margin-left: 4.5rem;
}

.wishy-mr {
    margin-right: 4.5rem;
}

.hidden {
    display: none;
}

@keyframes scroll-bg {
    0% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(-300px);
        -moz-transform: translateY(-300px);
        -ms-transform: translateY(-300px);
        -o-transform: translateY(-300px);
        transform: translateY(-300px);
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.wishy-container-position {
    position: absolute;
    top: 25%;
    left: 10%;
}

.wishy-navbar {
    background-color: rgb(38, 39, 59);
    font-family: 'Raleway';
}

.wishy-logo img {
    width: 180px;
    height: 120px;
}

.wishy-navbar-search {
    border-right: 1px solid #a8a8a8;
    border-left: 1px solid #a8a8a8;
}

.wishy-navbar-search input {
    background-color: rgb(38, 39, 59) !important;
}

.wishy-navbar input {
    border-width: 0;
    margin-top: 10px;
    padding-left: 30px;
    color: white !important;
}

.wishy-navbar input::placeholder {
    color: white;
}

.wishy-navbar i {
    color: white;
}
.wishy-navbar-search i {
    position: absolute;
    top: 18px;
    left: 22px;
}
.wishy-navbar .options i {
    font-size: 1em;
    text-align: center;
}

.wishy-navbar .options i:hover {
    color: #F9B800;
}

.options .row {
    margin-top: 10px;
    line-height: 0;
}
.options .row span{
    margin-top: 15px;
    line-height: 0;
    font-size: 0.75em;
}

.options .row a{
    color: white;
    text-decoration: none;
}

.options .row a:hover {
    color: #F9B800;
    text-decoration: underline;
}

.options .row li a {
    color: black;
    text-decoration: none;
}

.options .row li a:hover {
    color: black;
    text-decoration: underline;
}

.options p {
    margin-bottom: 0.5em;
}

.wishy-navbar-search .form-group {
    margin-bottom: 0.25em;
}

.wishy-navbar h1 {
    font-size: 2em;
}
