.content {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-bottom: 300px;
    overflow: hidden;
}

.wishy-background-image-try {
    width: 100vw;
    height: auto;
    animation: scroll-bg 70s infinite;
    animation-fill-mode: forwards;
    padding-bottom: 300px;
    position: absolute;
}

.wishy-body-cover {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0%;
    left: 0%;
}
.wishy-switcher {
    height: 350px;
    font-family: 'Raleway';
    background-color: rgb(38, 39, 59);
    color: #B5B5B7;
    box-shadow: 0px 0px 10px #888888;
}

.wishy-login {
    height: 450px;
    background-color: grey;
    box-shadow: 0px 0px 10px #888888;
    position: absolute;
    top: -50px;
    left: 25px;
    font-family: 'Raleway';
}

.wishy-flipper-container {
    position: relative;
}

.wishy-login input {
    border-width: 0px;
    border-bottom: 1px solid black;
    border-radius: 0px;
}

.wishy-form-headline {
    color: #F9B800;
    font-weight: bolder;
}

.wishy-login input:focus {
    border-width: 0px;
    border-bottom: 1px solid #F9B800;
    outline: none !important;
    box-shadow: 0 1px 0px #F9B800 !important;
}

label {
    color: #777777;
    text-align: right;
}

.wishy-login i {
    position: absolute;
    top: 30px;
    right: 26px;
    z-index: 10;
}

.fa-unlock-alt {
    margin-right: 4px;
}

.wishy-btn {
    color: #fff;
    background-color: #F9B800;
    border-color: #F9B800;
}

.wishy-btn:hover {
    background-color: #ba8800;
    border-color: #ba8800;
}

.wishy-link {
    font-weight: 400;
    color: #F9B800;
    background-color: transparent;
}

.wishy-link:hover {
    text-decoration: underline;
    color: #ba8800;
}

.wishy-ml {
    margin-left: 4.5rem;
}

.wishy-mr {
    margin-right: 4.5rem;
}

.hidden {
    display: none;
}

@keyframes scroll-bg {
    0% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    50% {
        -webkit-transform: translateY(-300px);
        -moz-transform: translateY(-300px);
        -ms-transform: translateY(-300px);
        -o-transform: translateY(-300px);
        transform: translateY(-300px);
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.wishy-container-position {
    position: absolute;
    top: 25%;
    left: 10%;
}
