#checklists input{
  background-color: transparent;
  border-width: 0;
  color: white;
  &::placeholder {
    color: white;
  }
  &:focus {
    background-color: transparent;
    border-width: 0;
    color: white;
    outline: none;
    border-bottom: 2px solid $gold;
    border-radius: 0;
    box-shadow: 0 0 0 black;
  }
}
#checklists small input {
  color: black;
  &::placeholder {
    color: black;
  }
  &:focus {
    color: black;
  }
}
.planner-checks {
  font-size: 12px;
}

.progress-bar.wishy {
  transition: width 0.5s ease;
  background-color: $blue;
}

.progress {
  height: 10px !important;
}

#checklists .datepicker input{
  width: 120px;
  color: black;
  &::placeholder {
    color: black;
  }
  &:focus {
    color: black;
  }
}

#options button.btn.wishy-btn {
  border-radius: 50%;
  box-shadow: 0 0px 8px $gold !important;
  &.green {
    background-color: #777777;
    box-shadow: 0 0px 8px #777777 !important;
    border-color: #777777;
    &:hover {
      background-color: darken(#777777, 10%);
      box-shadow: 0 0px 8px darken(#777777, 10%) !important;
      border-color: darken(#777777, 10%);
    }
  }
  &.red {
    background-color: $blue;
    box-shadow: 0 0px 8px $blue !important;
    border-color: $blue;
    &:hover {
      background-color: darken($blue, 10%);
      box-shadow: 0 0px 8px darken($blue, 10%) !important;
      border-color: darken($blue, 10%);
    }
  }
}

.hidden {
  display: none;
}

.dropdown-menu {
  left: -77px !important;
  min-width: 13rem;
}