#checklists input{
  background-color: transparent;
  border-width: 0;
  color: white;
  &::placeholder {
    color: white;
  }
  &:focus {
    background-color: transparent;
    border-width: 0;
    color: white;
    outline: none;
    border-bottom: 2px solid $gold;
    border-radius: 0;
    box-shadow: 0 0 0 black;
  }
}